.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 50px;
    overflow-y: auto;
}

.digit {
    margin: 5px auto;
    font-family: mr;
}

.container p:first-child {
    margin-top: 30px;
}

.container p:last-child {
    margin-bottom: 40px;
}

.isInView {
    margin: 5px auto;
    color: #77acff;
    font-family: mb;
    font-size: 20pt;
}