.container {
    margin: auto;
    display: flex;
    background-color: #f3f8ff;
    padding: 30px 60px;
    width: 220px;
    border-radius: 20px;
}

.ampm {
    height: fit-content;
    margin: auto;
    margin-top: auto;
    margin-bottom: 0px;
    color: #aaaaaa;
    width: 30px;
}

.ampm p:nth-child(1) {
    margin-bottom: 10px;
}

.ampm p:nth-child(2) {
    margin-bottom: 5px;
}

.selected {
    color: #77acff;
    font-family: mb;
}