.card {
    background-color: #f3f8ff;
    margin: auto;
    border-radius: 20px;
    display: flex;
    width: 50%;
    padding: 20px 0px;
    flex-direction: column;
}

.daysCont {
    display: flex;
    margin: auto;
    margin-top: 10px;
    width: 80%;
}

.monthYear {
    margin: 10px auto;
    margin-top: 0px;
    font-family: mb;
}

.monthYear span {
    color: #77acff;
}

.dayOfWeek {
    font-size: 9pt;
    margin: 10px auto;
    color: #77acff;
    margin-top: 0px;
}

.finalDate {
    margin: auto;
    margin-top: 20px;
}

.weekCont {
    margin: auto;
    display: flex;
    flex-direction: column;
}