.main {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.today {
    margin-bottom: 10px;
    padding: 5px 40px;
    border-radius: 50px;
    text-align: center;
    border: 1px #77acff solid;
    width: fit-content;
    cursor: pointer;
    font-size: 10pt;
    font-family: mr;
}

.card {
    background-color: #f3f8ff;
    margin: auto;
    border-radius: 20px;
    display: flex;
    padding: 20px 0px;
    flex-direction: column;
    width: 100%;
}

.daysCont {
    display: flex;
    margin: auto;
    margin-top: 10px;
    width: 80%;
}

.monthYear {
    width: 50%;
    margin: 10px auto;
    margin-top: 0px;
    font-family: mb;
    cursor: pointer;
    text-align: center;
}

.monthYear span {
    color: #77acff;
    cursor: pointer;
}

.dayOfWeek {
    font-size: 9pt;
    margin: 10px auto;
    color: #77acff;
    margin-top: 0px;
}

.finalDate {
    margin: 10px auto;
    font-family: mb;
    cursor: pointer;
    margin: auto;
    margin-top: 20px;
}

.finalDate span {
    color: #77acff;
    cursor: pointer;
}

.weekCont {
    margin: auto;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

.isSetToToday {
    background-color: #77acff;
    color: white;
}